body {
    background-color: rgb(118, 98, 222);
}

.nav-bar {
    text-align: center;
    background-color: rgb(118, 98, 222);
    border-bottom: solid;
    border-bottom-color: #220523;
    border-bottom-width: 10px;
}

.header-text {
    font-size: 30px;
    line-height: 2;
    color: black;
}


.bg-primary {
    border-radius: 10px;
}

.bg-light {
    margin-top: 15px;
    border-radius: 10px;
    margin-bottom: 17px;
}


li {
    margin-bottom: 10px;
    margin-left: -40px;
}